    .mod-swhammy {
        background: url(/resources/superwhammy-bg.png{{{ns}}}) no-repeat;
        width: 337px;
        height: 428px
    }
    .mod-swhammy .mod-control-group-1 {
        margin: 3em 0 0 30px;
        width: 90px;
        height: 300px;
        float: left;
    }
    .mod-swhammy .mod-control-group-2 {
        margin: 9.6em 0 0 126px;
    }
    .mod-swhammy .mod-control-group-1 .mod-slider {
        position: absolute;
        z-index: 100;
        width: 70px;
        height: 315px;       
    }
    .mod-swhammy .mod-knob {
        position: absolute;
        bottom: 50px;
        margin-left: 20px;
        z-index: 100;
        cursor: pointer;
    }
    .mod-swhammy .mod-knob-image {
        background: url(/resources/superwhammy_knob.png{{{ns}}}) no-repeat;
        width: 60px;
        height: 60px
    }
    .mod-swhammy .mod-control-group-2 .mod-slider {
        z-index: 100;
        width: 87px;
        margin-right: 10px;
    }
    .mod-swhammy .mod-control-group-1 .mod-slider .mod-slider-image {
        background: url(/resources/slider-whammy.png{{{ns}}}) no-repeat;
        width: 70px;
        height: 315px;        
    }
    .mod-swhammy .mod-control-group-2 .mod-slider .mod-slider-image {
        background: url(/resources/slider-serial-whammy.png{{{ns}}}) no-repeat;
        background-size: auto 33px;
        width: 87px;
        height: 33px;        
    }
    .mod-swhammy .toggle {
        background: url(/resources/switch-key.png{{{ns}}}) no-repeat;
        width: 30px;
        height: 73px;
        position: absolute;
        margin: 45px 85px;
        z-index: 1000;
        cursor: pointer;
    }
    .mod-swhammy .toggle.off {
        background-position: center bottom
    }
    .on-off {
        position: absolute;
        bottom: 45px;
        right: 40px;
        z-index: 100
    }
    .mod-swhammy .mod-footswitch {
        background-image:url(/resources/footswitch.png{{{ns}}});
        background-position:bottom center;
        background-repeat:no-repeat;
        background-size:auto 132px;
        cursor:pointer;
        height:66px;
        width: 66px;
        margin: auto;
        z-index: 100;
    }
    .mod-swhammy .mod-footswitch.on {
        background-position-y: top !important
    }
    .mod-swhammy .mod-light {
        height: 32px;
        width: 32px;
        margin: auto;
        right: 0;
        left: 0;
      }
    .mod-swhammy .mod-light.off { 
      background-image:url(/resources/red-light-off.png{{{ns}}}); 
    }
    .mod-swhammy .mod-light.on  { 
      background-image:url(/resources/red-light-on.png{{{ns}}}); 
    }
