
    .mod-harmonizercs {
        background-image:url(/resources/bg-harmonizercs.png{{{ns}}});
        background-position:center center;
        background-repeat:no-repeat;
        background-size:701px 406px;
        position:relative;
        width:701px;
        height:406px;
    }
    .mod-harmonizercs .mod-drag-handle {
        bottom:0;
        left:0;
        position:absolute;
        right:0;
        top:0;
    }
    .mod-harmonizercs-2 .mod-pedal-input {
        top:124px;
        left: -24px;
    }
    .mod-harmonizercs-2 .mod-pedal-output {
        top:50px;
        right: -14px;
    }
    .mod-harmonizercs-2 .mod-pedal-output .mod-output {
        margin-bottom: 109px;
    }
    .mod-harmonizercs .mod-knob {
        width: 60px;
        height: 60px;
    }
    .mod-harmonizercs .mod-knob-image {
        background-image:url(/resources/harm_knob.png{{{ns}}});
        z-index: 20000;
        position: absolute;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    .mod-harmonizercs .mod-control-image {
        position: absolute;
        z-index: 2000000;
    }
    .mod-harmonizercs .mod-knob , .mod-harmonizercs .mod-control {
        position: relative;
        float: left;
        cursor: pointer;
    }
    .mod-harmonizercs .mod-slider.tone {
        margin: 0 -2px 0 10px;
        width: 71px;
        height: 32px;
        z-index: 100;
    }
    .mod-harmonizercs .mod-control-group-left {
        margin: 4.8em 0 0 1.9em;
        width: 100px;
        float: left;
    }

    .mod-harmonizercs .mod-slider.tone .mod-slider-image {
        background-image:url(/resources/slider-serial.png{{{ns}}}) !important;
        background-size: auto 32px;
        width: 71px;
        height: 32px;
    }
    .mod-harmonizercs .mod-control-group-left .mod-slider  {
        width: 87px;
        height: 33px;
        z-index: 100;
        float: none;
        margin-bottom: 6.6em;

    }
    .mod-harmonizercs .mod-slider.wet .mod-slider-image , .mod-harmonizercs .mod-slider.tonic .mod-slider-image {
        background-size: auto 33px;
        width: 87px;
        height: 33px;
    }
    .mod-harmonizercs .mod-slider.wet .mod-slider-image {
        background-image:url(/resources/slider-serial-wet.png{{{ns}}}) !important;
    }
    .mod-harmonizercs .mod-slider.tonic .mod-slider-image {
        background-image:url(/resources/slider-serial-nmb.png{{{ns}}}) !important;
    }

    .mod-harmonizercs .mod-control.type .mod-control-image {
        background-image:url(/resources/switch3.png{{{ns}}});
        background-size: 186px 31px;
        width: 62px;
        height: 31px
    }
    .mod-harmonizercs .mod-control-group-right {
        width: 550px;
        margin-top: 36px;
        height: 263px;
        float: right;
    }
    .mod-harmonizercs .mod-control-group-right .mod-slider {
        z-index: 100;
        width: 30px;
        height: 230px;
        margin: 2px 13px 4px 0px;
        float: left;
    }
    .mod-harmonizercs .mod-control-group-right .mod-slider .mod-slider-image {
        background: url(/resources/slider-harmocs.png{{{ns}}}) no-repeat;
        background-size: auto 192px;
        width: 23px;
        height: 192px;
        margin: 16px 0 3px 6px;
    }
    .mod-harmonizercs .mod-control-group-right .mod-slider .mod-slider-value {
        color: #f3a128;
        font-family: monospace;
        text-align: right;
        margin-right: 1px;
        width: 30;
        font-size: 14px;
    }
    .mod-harmonizercs .mod-control-group-bottom {
        width: 180px;
        float: left;
        margin: 9px 0 0 31px;
    }
    .mod-harmonizercs .mod-control-group-bottom .mod-slider .mod-slider-image {
        background: url(/resources/slider-serial-whammy.png{{{ns}}}) no-repeat;
        background-size: auto 33px;
        width: 87px;
        height: 33px;
    }

    .mod-harmonizercs .mod-footswitch {
        background-image:url(/resources/footswitch.png{{{ns}}});
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 132px;
        bottom: 30px;
        cursor: pointer;
        height: 66px;
        width: 66px;
        margin: auto;
        right: 48px;
        position: absolute !important;
    }

    .mod-harmonizercs .mod-control.low {
        width: 86px;
        height: 33px;
        margin: 13px 0px 26px 13px;
    }

    .mod-harmonizercs .mod-control.low .mod-control-image {
        background-image:url(/resources/slider-serial-key.png{{{ns}}}) !important;
        background-size: auto 33px;
        width: 87px;
        height: 33px;
    }
    .mod-harmonizercs .mod-knob.gain {
        margin-right: 22px
    }
    .mod-harmonizercs .mod-footswitch.off{
        background-position-y: bottom;
    }
    .mod-harmonizercs .mod-control-image.on {
        background-position-y: bottom !important
    }
    .mod-harmonizercs .mod-control.scale{
        width: 200px;
        height: 30px;
        margin: 25px 0 0 89px;
    }
    .mod-harmonizercs  .mod-enumerated {
        position: absolute;
        z-index: 2000000
    }
    .mod-harmonizercs  .mod-enumerated-list {
        background-color: rgba(0,0,0,.8) !important;
        display: none;
        height: 120px;
        width: 187px;
        font-size: 12px;
        padding: 0 10px;
        margin-top: 10px;
        z-index: 2000000;
        color: white !important;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
    }
    .mod-harmonizercs  .mod-enumerated-list div:hover{
        background: white;
        color: black;
        }
    .mod-harmonizercs .mode .mod-enumerated-selected:before {
        content: '\25BE \a0';
    }
    .mod-harmonizercs  .mod-enumerated-selected {
        background: transparent;
        border: none;
        color: orange;
        display: block;
        font-size: 12px;
        padding: 0;
        position: relative;
        left: 4px;
        margin: 0 0 0 5px;
        top: 7px;
        width: 200px;
    }
    .mod-harmonizercs  .mod-enumerated-list:hover, .mod-harmonizercs  .mod-enumerated-list:active {
        background: black;
    }
    .mod-harmonizercs .mod-light {
        height: 32px;
        width: 32px;
        bottom: 44px;
        position: absolute !important;
        right: 140px;
    }
    .mod-harmonizercs .mod-light.off {
        background-image:url(/resources/red-light-off.png{{{ns}}});
    }
    .mod-harmonizercs .mod-light.on {
        background-image:url(/resources/red-light-on.png{{{ns}}});
    }
