    .mod-capo {
        background: url(/resources/capo-bg.png{{{ns}}}) no-repeat;
        width: 158px;
        height: 352px;

    }
    .mod-capo .mod-drag-handle {
        bottom:0;
        left:0;
        position:absolute;
        right:0;
        top:0;
    }
    .mod-capo .mod-knob {
        position: absolute;
        margin: 84px 36px;
        z-index: 100
    }
    .mod-capo .mod-knob .mod-knob-image {
        background: url(/resources/slider-serial-capo.png{{{ns}}}) no-repeat;
        width: 108px;
        height:90px;
        position: absolute;
        cursor: pointer;
    }

    .mod-capo .mod-footswitch {
        background-image:url(/resources/footswitch.png{{{ns}}});
        background-position:bottom center;
        background-repeat:no-repeat;
        background-size:auto 132px;
        bottom: 24px;
        right: 47px;
        cursor:pointer;
        height:66px;
        width: 66px;
        margin: auto;
        position:absolute !important;
    }
    .mod-capo .mod-footswitch.on {
        background-position-y: top !important
    }
    .mod-capo .mod-light {
        height: 32px;
        width: 32px;
        margin: auto;
        bottom: 110px;
        right: 0;
        left: 0;
        position: absolute !important
      }
    .mod-capo .mod-light.off { 
      background-image:url(/resources/red-light-off.png{{{ns}}}); 
    }
    .mod-capo .mod-light.on  { 
      background-image:url(/resources/red-light-on.png{{{ns}}}); 
    }